/* required LIB STYLES */
/* .Treant se automatski dodaje na svaki chart conatiner */
.Treant { position: relative; overflow: hidden; padding: 0 !important; }
.Treant > .node,
.Treant > .pseudo { position: absolute; display: block; visibility: hidden; }
.Treant.Treant-loaded .node,
.Treant.Treant-loaded .pseudo { visibility: visible; }
.Treant > .pseudo { width: 0; height: 0; border: none; padding: 0; }
.Treant .collapse-switch { width: auto; height: auto; position: absolute; top: 1%; bottom: 1%; left: 1%; right: 1%; cursor: pointer; }
/*.Treant .collapsed .collapse-switch { background-color: #868DEE; }*/
.Treant > .node img {	border: none; float: left; }
