{% extends "structure/base_site.html" %}
{% load static %}
{% block title %} Projects {% endblock title %}

{% block stylesheets %}
  {{ block.super }}

    <link rel="stylesheet" href="{% static 'css/Treant.css'%}">
	<link rel="stylesheet" href="{% static 'css/connectors.css'%}">

	<link rel="stylesheet" href="{% static 'css/perfect-scrollbar.css'%}">
    <script>
        console.log('olha aqui mano!')
        let chart_test = {
            chart: {{ chart|safe }},
            nodeStructure: {{ nodeStructure|safe }}
        }
        console.log(chart_test.chart.get())

    </script>
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>{{ project.name }} <small>Árvore de Features</small></h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>#</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
{#                <li><a class="close-link"><i class="fa fa-close"></i></a>#}
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="chart" id="OrganiseChart-big-commpany" style="width:1130px; height: 600px"></div>
                <script src="{% static 'treant/raphael.js'%}"></script>
                <script src="{% static 'treant/Treant.js'%}"></script>
                <script src="{% static 'treant/connectors.js'%}"></script>

                <script>
                    console.log('asdfdsfsdf' + {{ chart|safe }})
                    new Treant( chart_test );

                </script>
              <!-- end project list -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
