{% extends "base_site.html" %}
{% load static %}
{% block title %} Projects {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
     <style>
    .links line {
      stroke: #999;
      stroke-opacity: 1;
    }
    .nodes circle {
      stroke: #fff;
      stroke-width: 2px;
    }
     .block_graph{
         background-color: whitesmoke;
         width: 90%;
         margin-left: 5%;
     }
    </style>

{% endblock stylesheets %}

{% block content %}
    <div class="block_graph" align="center">
        <svg width="1200" height="600"></svg>

    </div>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
var svg = d3.select("svg"),
    width = +svg.attr("width"),
    height = +svg.attr("height");
var color = d3.scaleOrdinal(d3.schemeCategory20);
var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }))
    .force("charge", d3.forceManyBody().strength(-140))
    .force("center", d3.forceCenter(width / 2, height / 2))

var tooltip = d3.select("body")
	.append("div")
	.attr("class", "tooltip")
	.style("opacity", 0);

d3.json("{% static 'spec_graph.json'%}", function(error, graph) {
  if (error) throw error;
  var link = svg.append("g")
      .attr("class", "links")
    .selectAll("line")
    .data(graph.links)
    .enter().append("line")
      .attr("stroke-width", function(d) { return Math.sqrt(d.value/2); });
  var color_feature = d3.color("black");
  var color_border = d3.color("white");
  var color_scenario = d3.color("green");

  var node = svg.append("g")
      .attr("class", "nodes")
    .selectAll("circle")
    .data(graph.nodes)
    .enter().append("circle")
      .style("stroke", function (d) {
          if(d.group == 5){
              return color_feature;
          }else if(d.group == 10){
              return color_scenario;
          }else{
              return color_border;
          }
      })
      .style("stroke-width", function (d) {
          if(d.group == 5){
              return 1;
          }else{
              return 1;
          }
      })
      .attr("r", function (d) {
          if(d.group == 10){ {# Cenário #}
              if(d.size < 10){
                  return d.size*6 +3
              } else{
                  return 15
              }
          }else if(d.group == 5) { {# Feature #}
              if(d.size < 10){
                  return d.size*6 + 5
              } else{
                  return 15
              }
          }else{
            return 5
          }
           })
      .attr("fill", function(d) { return color(d.group); })
      .call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended))
      .on('mouseover.fade', fade(0.1))
    .on("mouseout.tooltip", function() {
        tooltip.transition()
	        .duration(100)
	        .style("opacity", 0);
	    })
  	.on('mouseout.fade', fade(1))
	    .on("mousemove", function() {
	      tooltip.style("left", (d3.event.pageX) + "px")
	        .style("top", (d3.event.pageY + 10) + "px");
	    });
  node.append("title")
      .text(function(d) { return d.name + '  [' + d.size.toString() + ' métodos]'});
  simulation
      .nodes(graph.nodes)
      .on("tick", ticked);
  simulation.force("link")
      .links(graph.links);

  var tip;
  svg.on("click", function(){
    if (tip) tip.remove();
  });
  node.on("click", function(d){
    d3.event.stopPropagation();

    if (tip) tip.remove();

    tip  = svg.append("g")
      .attr("transform", "translate(" + d.x  + "," + d.y + ")");

    var rect = tip.append("rect")
      .style("fill", "white")
      .style("stroke", "steelblue");
    if(d.group == 20){

        tip.append("text")
            .text("Spec Name: " + d.name)
            .attr("dy", "1em")
            .attr("x", 5);
    } else{
        tip.append("text")
            .text("Method Name: " + d.name)
            .attr("dy", "1em")
            .attr("x", 5);
    }

    {#tip.append("text")#}
    {#  .text("Info: " + d.info)#}
    {#  .attr("dy", "2em")#}
    {#  .attr("x", 5);#}

    var con = graph.links
      .filter(function(d1){
        return d1.source.id === d.id;
      })
      .map(function(d1){
        return d1.target.name + " " + d1.size;
      });

    {#tip.append("text")#}
    {#  .text("Connected to: " + con.join(","))#}
    {#  .attr("dy", "3em")#}
    {#  .attr("x", 5);#}

    var bbox = tip.node().getBBox();
    rect.attr("width", bbox.width + 10)
        .attr("height", bbox.height + 10)
  });
  function ticked() {
    link
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });
    node
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
  }

  const linkedByIndex = {};

  graph.links.forEach(d => {
    linkedByIndex[`${d.source.index},${d.target.index}`] = 1;
  });

  function isConnected(a, b) {
      console.log(a.index);
      console.log(b)
    return linkedByIndex[`${a.index},${b.index}`] || linkedByIndex[`${b.index},${a.index}`] || a.index === b.index;
  }
    function fade(opacity) {
    return d => {
      node.style('stroke-opacity', function (o) {
        const thisOpacity = isConnected(d, o) ? 1 : opacity;
        this.setAttribute('fill-opacity', thisOpacity);
        return thisOpacity;
      });

      link.style('stroke-opacity', o => (o.source === d || o.target === d ? 1 : opacity));

    };
  }

});

function dragstarted(d) {
  if (!d3.event.active) simulation.alphaTarget(0.3).restart();
  d.fx = d.x;
  d.fy = d.y;
}
function dragged(d) {
  d.fx = d3.event.x;
  d.fy = d3.event.y;
}
function dragended(d) {
  if (!d3.event.active) simulation.alphaTarget(0);
  {#d.fx = null;#} {# Comentei para que possamos fixar os pontos após arrastar eles. #}
  {#d.fy = null;#}
}
</script>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}

{% endblock javascripts %}